/*lmgc_mobile.css - FOR MOBILE VIEW*/
@media only screen and (max-width : 460px){
html, body{
    background:none;
    font-family:'Nunito', sans-serif;
    margin:0px;
    padding:0px;
    position:relative;
    width:100%;
    height:100%;
    overflow-x:hidden;
    border:1px solid black;
    color:rgb(0,0,0);
    font-size:15px;  
}
     
a:link, a:visited{
    color:rgb(0,0,0);
    text-decoration:none;
}

a:hover, a:active{
    color:rgb(30,144,255);
    text-decoration:none;
}

h1{
    padding:10px 0;
    font-size:30px;
}

h2{
    padding:10px 0;
    font-size:20px;
}

h3{
    padding:30px 0 5px 0;
    font-size:15px;
}

strong{
    font-weight:bold;
}
      
/************************/
/*********HEADER*********/
/************************/
    header{
        background-color:rgb(230, 243, 255);
        width:100%;
        height:300px;
        background:url("https://c1.staticflickr.com/1/600/32950038591_14d3d59778_b.jpg") no-repeat center;
        background:cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }

    /*SOCIAL MEDIA ICONS*/
    #social_media{
        background-color:rgba(255,255,255,.7);
        font-size: 40px;
        width:100%;
        color: rgb(0,0,0) !important;
    }

    #social_media a{
        border:none;
    }

    .fa-ul{
        margin-left:0 !important;
        color:rgb(0,0,0);
        padding-left:0;
    }

    .fa-ul li{
        float:left;
        display:inline;
        padding:5px;
        padding: 5px 25px;
    }

    .fa-ul a:hover, .fa-ul li a:active{
        color:rgb(255,255,255);
    }

    /**SEARCH BAR**/
    #search_bar, #tfnewsearch{
        float:left;
        width:98%;
        background-color: none;
    }

        .input_class{
            margin: 0;
            padding: 5px 15px;
            background-color:rgba(255,255,255,.9);
            font-size:12px;
            color:#666;
            border:1px solid #0076a3; border-right:0px;
            border-top-left-radius: 3px 3px;
            border-bottom-left-radius: 3px 3px;
            width:88%;
        }

        .search_button {
            margin: 10px 0;
            width: 10%;
            padding: 5px 7px;
            font-family: Arial, Helvetica, sans-serif;
            font-size:14px;
            font-weight:bold;
            outline: none;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            color: #ffffff;
            border: solid 1px #0076a3; border-right:0px;
            background: #0095cd;
            background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
            background: -moz-linear-gradient(top,  #00adee,  #0078a5);
            border-top-right-radius: 5px 5px;
            border-bottom-right-radius: 5px 5px;
        }

        .search_button:hover {
            text-decoration: none;
            background: #007ead;
            background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
            background: -moz-linear-gradient(top,  #0095cc,  #00678e);
        }

        /* Fixes submit button height problem in Firefox */
        .search_button::-moz-focus-inner {
          border: 0;
        }

        .tfclear{
            clear:both;
        }

    /**LOGO & COURSE NAME**/
    #banner_logo{
        margin: -175px auto;
        width:100%;
        position:absolute;
        text-align:center;
        font-weight:600;
    }

    #banner_logo img{
        background-color:rgba(255,255,255,.7);
        width:5em;
        padding:10px;
        border-radius:100%;
    }

    #course_name{
        margin-top:25px;
        font-size:30px;
        color:rgb(255,255,255);
    } 

/************************/
/***********NAV**********/
/************************/
    nav{
        background-color:rgb(0,0,0);
        margin:0 auto;
        text-align:center;
    }

    nav ul{
        padding:0;
        display:block;
        line-height:2;
    }

    nav ul li{
        display:inline-block;
        font-size:15px;
        padding:5px 0;
    }

    nav ul li a:link, nav ul li a:visited{
        color:rgb(255,255,255);
        text-decoration:none;
        padding:5px 1.5em;
    }

    nav ul li a:hover,nav ul li a:active{
        background-color:rgb(255,255,255);
        border-bottom:5px solid rgb(30,144,255);
        color:rgb(30,144,255);
    }

    /*MOBILE NAV*/
        nav{
            display:none;
        }

        .dropbtn {
            background-color: black;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
            width:100%;
            margin:0;
        }

        .dropbtn:hover, .dropbtn:focus {
            background-color: black;
        }

        .dropdown {
            position: relative;
            display: inline-block;
            width:100%;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            /*background-color: #f9f9f9;*/
            min-width: 160px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            text-align:center;
        }

        .dropdown-content a {
            color: white;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            border-bottom:2px solid #99ccff;
            background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.8)), to(rgba(153,204,255,.9)));
            text-transform: uppercase;
        }

        .dropdown a:hover {background-color: #f1f1f1}

        .show {display:block;position:relative;}
/************************/
/*******INDEX PAGE*******/
/************************/
    #index_wrapper{
        background-color:rgb(230, 243, 255);
        background-color:pink;
        width:100%;
        /*width:95%;*/
        margin:0 auto;
        padding:5px;
        overflow:hidden;
        position:relative;
    }

    #sidebar_teetimes{
        float: right;
        width: 30%;
        margin: 30px 5px 0 0;
        padding: 0 0 15px 10px;
        border-left: 1px solid black;
        position: relative;
    }

    #sidebar_teetimes h2{
        background-color: black;
        color: white;
        padding: 5px;
        width: 91px;
    }

    #sidebar_teetimes ul{
        display:inline-block;
    }

    #sidebar_teetimes ul li{
        padding:10px 0;
    }

    ul#teetimes_second_list{
        display:none;
    }

    .teetimes_link{
        font-size: 11px;
    }
    
    #book_now{
        text-align: left;
        margin-top:20px;
        margin-left: 0;
        width: 110px;
    }

    #book_now a{
        background-color: rgb(206,206,206);
        font-size: 15px;
        padding: 5px;
        box-shadow: inset 2px 2px 2px rgba(226, 226, 226, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
        background: -webkit-gradient(linear, left top, left bottom, from(#CECECE), to(#A0A0A0));
    }

    #book_now a:hover{
        background: -webkit-gradient(linear, left top, left bottom, from(#A0A0A0), to(#CECECE));
    }

    #main_content{
        padding-bottom:30px;
        width:65%;
        /*height:600px;*/
    } 

    #main_content img{
        width:97%;
        padding-bottom:10px;
        margin-top:30px;
    }

    #main_content h1{
        position: absolute;
        background: none;
        padding: 0px;
        margin: 0 0 5px 0;
        width: 370px;
        font-size: 16px;
        text-transform: uppercase;
    }

    #sidebar_events{
        margin: 0 0 30px 0;
        padding: 0;
        width: 100%;
        position: relative;
        border-left: none;
    }

    #sidebar_events_list img{
        padding: 0;
        float:none;
        width:100%;
    }

    #sidebar_events li{
        display: block;
        width:100%;
        text-align:center;
        font-size:20px;
    }

    #sidebar_events h3{
        padding-top:9px;
    }

    #sidebar_events_list h2{
        font-size:40px;
        text-align:center;
    }

    #front_img{
        overflow:hidden;
        width:96%;
        height:auto;
    }

     section#front_img{
        margin-bottom: 70px;
    }

    #adventures{ 
        margin-top: 20px;
        width: 100%;
        height: auto;
        position: relative;
    }

    #adventures li{
        width: 100%;
        height: auto;
        float: none;
        display: block;
        padding: 10px 0;
        border-left: none;
    }

    #adventures img{
        width:100%;
    }

    #adventures h2{
        font-size:20px;
        padding:25px 0 0 5px;
        text-align: center;
    }

    #adventures h3{
        padding: 10px;
        font-size: 25px;
    }

    #adventures p{
        padding:0 10px 10px 10px;
    }

/************************/
/*********COURSE*********/
/************************/
    #course_map{
        width: 96%;
        height: auto;
        margin: 0;
        padding: 0;
        text-align: center:
    }

    #course_map img{
        width: 95%;
        margin-bottom: 10px;
        border: 10px solid rgba(201,171,126,.5);
    }

    #course_map a{
        padding:0;
        margin-top:10px;
        font-size:20px;
    }

    .caption{
        padding-left:10px;   
        width:140px;
    }

    /*COURSE SLIDESHOW*/
    .mySlides {
        display:none;
    }

    .w3-center{
        overflow:hidden;
        margin:0 auto;
    }

    button.demo,.w3-button{
        background-color:rgb(95,95,95);
        color:rgb(255,255,255);
        width:8.2%;
        float:left;
    }  

    button.demo:hover{
        background-color:rgba(201,171,126,.5);
        color:rgb(0,0,0);
    }

    .mySlides p{
        height:50px;
        width:450px;
    }

    .mySlides-1{
        width:43.5%;
        float:right;
        padding-top:10px !important;
        padding-left:10px;
    }

    button.w3-button.demo.thumbnails{
        width:103px;
        padding:2px;
        margin:5px;
    }

        /*MOBILE ONLY*/
        button.w3-button.nav-button {
            width: 27px;
            float: left;
            padding-left: 1px;
        }

        .w3-content.w3-content-mobile {
            width: 96%;
            height: 330px;
        }

        img.mySlides-2{
        width:100%;
        }

/************************/
/*********EVENTS*********/
/************************/
    #tournaments{
        width:96%;
        height:auto;
        padding-bottom:20px;
    }

    #tournament_list{
        display:none;
    }

    #tournaments li, #tournament_list li{
        display:inline-block;
        padding:5px;
        min-width: 45%;
        text-align:center;
    }

    .tournament_list{
        color:white;
        padding:5px;
        background-color:slategrey;
        box-shadow: inset 2px 2px 2px rgba(230, 243, 255, .5), inset -2px -2px 10px rgba(0, 0, 0, .5);
    }

    #tournaments ul:hover{
        background-color:lightsteelblue;
    }

    #tour_button{
        width:150px;
        background-color:white;
        color:black;
        border-radius:5px;
        padding:10px;
        margin:0;
        box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    }

        #tour_button:hover{
            background: -webkit-gradient(linear, left top, left bottom, from(#DFBE85), to(#CF9C42));
        }

    #tournaments p{
        padding:3px 0;
        text-align:center;
        font-size:12px;
    }

        /*EVENT HANDLER*/
        .description2{
                display:none;
                color:white;
                width:94.5%;
                background: -webkit-gradient(linear, left top, left bottom, from(#7A7A7A), to(#494949));
            }

        ul.tournament_list.row{
            padding:5px;
        }

        /*EVENT HANDLER ENDS*/

    #events{
        width:96%;
        height:auto;
        overflow:hidden;
        margin:0;
        padding:5px;
    }

    #events h1{
        background-color: rgba(255,255,255,.5);
        width: 25%;
    }

    #events img{
        width:100%;
        padding:0;
        margin:0;
    }

    #events_list{
        width: 100%;
        height: auto;
        background-color: rgba(230, 243, 255,.9);
        margin: 10px 0;
        border-radius:10px;
    }

    #events ul{
        padding:5px 0;

    }

    #events_list ul{
        width: 185px;
        display:inline-block;
    }

    #events li{
        display:inline-block;
        width:370px;
    }

    #events .fa{
        width:20px;
    }

        /*MOBILE ONLY*/
        .events_right{
            float:right;
            width: 160px !important;
        }

        #popup_mobile_info{
            margin:10px 0;
            text-align:center;
        }

    /*POPUP INFORMATION*/
    /* Popup container - can be anything you want */
    /*#legend{
        background-color:aqua;
        width: 130px;
        height: 300px;
        margin: -345px 0 0 420px;
        position: absolute;
        padding:5px;
    }*/

    .popup{
        position: relative;
        display: inline-block;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* The actual popup */
    .popuptext{
        visibility: hidden;
        width: 280px;
        height:25px;
        color:steelblue;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        /*z-index: 1;
        bottom: 125%;
        left: 450px;*/
        /*margin: -5px 0 0 350px;*/
        margin: 330px 0 0 -20px;
    }

    .popup .show{
        visibility: visible;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
    }

    /* Add animation (fade in the popup) */
    @-webkit-keyframes fadeIn {
        from {opacity: 0;} 
        to {opacity: 1;}
    }

    @keyframes fadeIn {
        from {opacity: 0;}
        to {opacity:1 ;}
    }    

    #popup_mobile_info{
       visibility:visible;
    }

    /************************/
    /*******MEMBERSHIP*******/
    /************************/
    #credentials{
        width:auto;
        height:auto;
        float:right;
        overflow:hidden;
        margin:0;
        padding:0 0 20px 0;
    }

    #membership_info{
        width: 96%;
        overflow:hidden;
    }

    #membership_info h3{
        margin-top:40px;
        font-size:20px;
    }

    #membership_info li{
        font-size:15px;
        padding:5px 0;
    }

    #benefits, #details{
        text-align:center;
    }

    #benefits{
        display:block;
        width:100%;
        height:230px;
        background:url('../images/combo-3.jpg') no-repeat;
        background-color:rgba(232, 195, 132,.9);
        background-blend-mode:screen;
        background-size:100%;
    }

    #benefits h3{
       background-color:rgba(0,0,0,.55);
        margin-top:10px;
        width:auto;
        padding:5px;
        color:white;
    }

        /*TABLET ONLY*/
        #benefits-mobile-info{
            display:none;
        }

    #details{
        font-size: 20px;
        margin-top: 25px;
        line-height:25px;
        border-top:1px solid black;
        width:auto;
    }

    #img_details ul li{
        display:inline-block;
        margin:-1px;
    }

    #img_details img{
        width: 100%;
        height: auto;
        padding: 5px 0;
        border-bottom-left-radius: 0px;
    }

    /*SIGN IN*/
    #sign_in{
        background-color:rgba(50,150,250,.5);
        height:235px;
        padding-bottom:20px;
        border:1px solid rgb(0,0,0);
        padding:5px;
        box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .2), inset -1px -1px 1px rgba(0, 0, 0, .2);
    }

    #credentials input[type=text], #credentials input[type=password] {
        width: 100%;
        padding: 5px 5px;
        margin: 10px 0;
        display: inline-block;
        border-radius:5px;
        box-sizing: border-box;
        font-size:12px;
    }

    button {
        background-color: #4CAF50;
        color: white;
        padding: 10px 16px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 20%;
        float:right;
    }

    .signupbtn,.cancelbtn {
        background-color: rgb(0,0,0);
        color:rgb(255,255,255);
        margin:10px 10px;
        box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .9), inset -5px -5px 5px rgba(255, 255, 255, .3);
        width:75px;
    }

    /*SIGN UP*/
    #sign_up{
        border:1px solid rgb(0,0,0);
        padding:5px;
        height:360px;
        background-color:rgba(50,150,250,.5);
        box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .2), inset -1px -1px 1px rgba(0, 0, 0, .2);
    }

/************************/
/********TEETIMES********/
/************************/
    #search_teetimes{
        width:96%;
        height:105px;
        background-color:grey;
        margin-bottom:10px;
        border-radius:5px;
    }

    .input_teetime{
        line-height:20px;
        width:99%;
        margin: 0;
        padding: 5px 15px;
        background-color:rgba(255,255,255,.9);
        font-size:12px;
        color:#000;
        border:1px solid #0076a3; border-right:0px;
        border-top-left-radius: 3px 3px;
        border-bottom-left-radius: 3px 3px;
    }

    .search_button_teetime {
            margin: 10px 0;
            width: 100%;
            padding: 5px 7px;
            font-family: Arial, Helvetica, sans-serif;
            font-size:14px;
            font-weight:bold;
            outline: none;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            color: #ffffff;
            border: solid 1px #0076a3; border-right:0px;
            background: #0095cd;
            background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
            background: -moz-linear-gradient(top,  #00adee,  #0078a5);
            border-top-right-radius: 5px 5px;
            border-bottom-right-radius: 5px 5px;
        }

    #reserve_now{
        width: 96%;
        margin: 0;
        font-size: 25px;
        padding: 0;
        height: 50px;
        float: left;
        background: -webkit-gradient(linear, left top, left bottom, from(#DFBE85), to(#CF9C42));
    }

    #reserve_now:hover{ 
        /*background-color:rgb(255,80,0);*/
        color:black;
        background: -webkit-gradient(linear, left top, left bottom, from(#CF9C42), to(#DFBE85));
    }

        /*MOBILE LAYOUT ONLY*/
        #mobile_days{
            display:none;
        }

        #mobile_teetimes{
            width:185px;
        }
    
        div#teetimes_selections {
        width: 96%;
        }

    #teetimes_selections ol li{
        margin:0 70px;
        display:inline-block;
    }

    #teetimes_selections ol li h3{
        font-size:25px;
    }

    #teetimes_selections ul{
        width:170px;
        display:inline-block;
        margin:5px 0;
    }

    .tee_times{
        padding:10px 0;
        text-align:center;
        background-color:rgb(115,115,115);
        color:rgb(255,255,255);
        width:165px;
        height:auto;
        border:.5px solid rgb(0,0,0);
        box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);

        /*teetimes popup properties*/
        position:relative;
        display:inline-block;
        cursor:pointer;
        user-select:none; 
    }

    .month_players_discount{
        font-weight:bold;
        margin-top:5px;
    }

    #booking_time{
        font-size: 35px;
        font-weight: 100;
        margin: 5px 0;
        width: 100%;
        padding: 5px 0;
    }

    #price{
        font-size:15px;
        margin-top:40px;
    }

    #call_now{
        font-size:25px;
        text-align:center;
        padding:10px 0;
    }

    /*TEETIME POPUP*/
    #popup{
        display:none;
        width:140px;
        background-color:#555;
        color:#E8C384;
        text-align:center;
        border-radius:6px;
        padding:5px 5;
        position:absolute;
        z-index:1;
        bottom:30%;
        left:85px;
        margin-left:-80px;
    }

    .show{
        display: block;
        position: absolute;
        width: 100%;
        margin-top: 48px;

    }

    /************************/
    /*********PROSHOP********/
    /************************/
    #proshop_info{
        width:96%;
        overflow:hidden;
        padding-bottom:30px;
    }

    #proshop_img{
        padding:0 0 20px 15px;
        text-align:right;
        width:100%;
        position:relative;
    }

    #proshop_info img{
        width: 100%;
        height: auto;
        margin-top: 0;
    }

    #image_contact{
        position: absolute;
        margin-top: -300px;
        right:0;
        background-color:rgba(255,255,255,.8);
        }

    #merch, #img_details{
        background-color:rgba(0,0,0,.7);
        text-align:left;
        padding:20px 0;
        width:100%;
    }

    #merch ul li{
        display:inline-block;
        padding:3px;
        background-color:black;
    }

    #merch img{
        background-color: white;
        width: 100%;
        height: 210px;
        border-bottom-left-radius: 100px;
        box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    }

    #proshop_img button{
        width:100%;
        margin-top:20px;
        background-color:rgb(201, 171, 126);
        font-size:15px;
    }

    #proshop_img button:hover{
        background-color:rgba(201, 171, 126, .5);
        color:black;
    }

    .merch_products{
        background-color:rgba(0,0,0,.6);
        color:white;
        position:absolute;
        padding:10px;
    }

            /*EVENT HANDLER*/
            .article{
                text-align:center;
            }

            .article.current, .article{
                background-color:rgba(201, 171, 126, .5);
                margin-left:0;
                width:100%;
                height:auto;
            }

            .article:hover, .current{
               background-color:rgba(201, 171, 126, .75);
            }

            h2.source{margin:0;}

            .row p{margin:0;}

            .row{padding:10px;}

            .item{
                /*make each 'current' a point*/
                cursor:pointer;
                border:1px solid black;
            }

            .item:hover{
                background-color:rgb(201, 171, 126);
            }

            .description1{
                display:none;
                background-color:black;
                color:white;
                width:95%;
            }

            .description1 p{
                padding-top:5px;
                text-align:left;
            }
    /************************/
    /********CONTACTS********/
    /************************/
    #contact_wrapper{
        width: 96%;
        padding: 0;
        margin: 0;
        float: none;
        position: relative;
    }

    #contact_form{
        width: 95%;
        height: auto;
        background-color: rgba(50,150,250,.5);
        padding: 10px;
        margin-top: 10px;
        overflow: hidden;
    }

    #contact_form input[type=text]{
        width: 100%;
        padding: 5px 5px;
        margin: 10px 0;
        display: inline-block;
        border-radius:5px;
        box-sizing: border-box;
        font-size:12px;
    }

    #contact_form textarea{
        width:100%;
        border-radius:5px;
        box-sizing:border-box;
        height:150px;
    }

    #google_map_mobile{
        display:block;
        background-color:rgba(50,150,250,.5);
        width:98%;
        height:auto;
        padding:5px;

    }

        /*TABLET & MOBILE ONLY*/
        #google_map, #google_map_tablet{
            display:none;
        }

    #staff{
        width:96%;
        height:auto;
        padding:0;
        overflow:hidden;
        font-size:12px;
    }

    #staff ul{
        padding:0;
        padding:15px 0;
        overflow:hidden;
    }

    #staff ul li img {
        height:80px;
        width:200px;
        background-color:rgba(50,150,250,.5);
        margin-top:10px;
        filter:grayscale(70%);
    }

    #staff ul li:first-child{
        float:right;
        margin:0;
        padding:0;
    }

    #staff h2{
        border-bottom:1px solid black;
        padding-bottom:5px;
        margin-bottom:10px;
        width:165px;
    }

    #inquiry_text{
        margin-top:65px;
    }

    #inquiry_text p{
        margin:5px 0;
    }

    #inquiries_text{
        background-color:black;
        color:white;
        padding:4px;
        margin-bottom:10px;
        width:442px;
    }

/************************/
/*********FOOTER*********/
/************************/
    footer{
        background-color:rgb(0,0,0);
        width:100%;
        height:900px;
        color:rgb(255,255,255);
        overflow:hidden;
        margin:0 auto;
        padding:0;
        text-align:center;
    }

    #footer_wrapper{
        margin:0 auto;
        width:99%;
        height:auto;
        padding: 0 0 30px 0;
    }

    .footer_content{
        float: none;
        display: block;
        height: auto;
        /* font-size: 40px; */
        width: 100%;
        padding: 20px 0px;
        margin: auto;
    }

    .footer_content ul, .footer_content p{
        margin-top:10px;
    }

    .footer_content li{
        font-size:15px;
        padding:5px 0;
        overflow: hidden;
    }

    .footer_content li a:link, .footer_content li a:visited{
        color:rgb(255,255,255);
    }

    .footer_content li a:hover, .footer_content li a:active{
        color:rgb(30,144,255);    
    }

    #hours{
        padding-top:50px;
    }

    #copyright{
        width: 96%;
        padding: 5px;
        height: 20px;
        position: relative;
        text-align: center;
        font-size: 10px;
        bottom:0;
    }

    
    
}/*@MEDIA ENDS*/
