/*Janine Fernandez Portfolio.css*/
html,body{
    margin:0 auto;
    padding:0;
    width:100%;
    height:auto;
    font-size:12px;
    color:black;
    background-color:white;
    font-family:serif;
}

h1{font-size:20px;}
h2{font-size:16px;}
h3{font-size:14px;}
p{font-size:12px;}
strong{font-weight:bold;}

a:link, a:visited{
    color:rgb(0,0,0);
    text-decoration:none;
}

a:hover, a:active{
    color:rgb(205,92,92);
    text-decoration:none;
}

/*SPECIFIED style*/
.sidebar_title{
    padding-top:70px;
}

.content_title{
    float:left;
}

.content_category{
    float:right;
    text-transform:uppercase;
}

.content_body{
    background-color:white;
    margin-top:20px;
    width:100%;
    height:413px;
}

.project_link{
    margin-top:3px;
    text-align:right;
}



/******************/
/******HEADER******/
/******************/
header{
    width:98%;
    margin:0 auto;
    height:50px;
    padding:10px;
}

#social_media ul li{
    display:inline-block;
    text-align:center;
    width:20px;
    height:20px;
}

.fa{
    font-size:16px;
    color:rgb(205,92,92);
}

#home{
    width:120px;
    float:right;
}

.fa-envelope{
    float:right;
    margin-top:7px;
}

#signature_name img{
    width:100px;
}

/*FADE IN CONTENT WHEN PAGE IS OPENED*/
#subject_content, #subject_description p{
        animation: fadein 3s;
    }
    
    #subject_description h1, #subject_description h3, #back_button_subject{
        animation: fadein 1s;
    }
    
    @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
    }
    


/******************/
/******CONTENT*****/
/******************/
#content_wrapper{
    background-color:white;
    margin:0 auto;
    width:75%;
    height:auto;
    text-align:center;
    padding-bottom:50px;
}

/*TRIANGLE BACK BUTTON*/
    .tri_button {
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-right: 15px solid rgb(205,92,92);
        border-bottom: 8px solid transparent;
        position: absolute;
        margin-left: -20px;
    }
        .tri_button:hover{
            border-right-color:red;
        }

    #back_button_subject{
        width: 50px;
        margin-left: 185px;
        margin-top: 3px;
    }

    .tri_button_subject {
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-right: 10px solid;
        border-right-color:grey;
        border-bottom: 5px solid transparent;
        margin-left: -12px;
    }

    .tri_button_subject p {
        margin-left:14px;
        margin-top:-5px;
        font-size:10px;
    }
    
    .inactive_project{
        display:block;
    }

    .active_project{
        display:none;
        margin-left:14px;
        margin-top:-5px;
        font-size:10px;
    }

#content_block{
    background-color:gainsboro;
    padding-top:8em;
    padding-bottom:10.25em;
    width:100%;
    height:auto;
}

#quote{
    font-size:40px;
}

#main_nav ul li, #subject_content ul li{
    /*background-color:pink;*/
    display:inline-block;
    margin:0px;
    /*margin:20px 0;*/
    /*text-align:right;*/
}

#main_nav{
    padding-left:35px;
    margin-top: 50px;
}

#main_nav ul{
   /* margin-left:40px;*/
}

#nav_text{
    margin:-10px 90px 0 0;
}
#nav_text li{
    /*background-color:pink;*/
    padding: 0px;
    margin: 8px !important;
    width: 120px;
    text-align:right;
}

/*PARALLELOGRAM NAV IMAGES*/
    .photo, .photo_link {
        transform: skewX(-25deg); 
        -ms-transform: skewX(-25deg); /* IE 9 */
        -webkit-transform: skewX(-25deg); /* Safari and Chrome */
        width: 120px;
        height: 100px;
        /*border-right: 1px solid black; */
        border-left: 2px solid white; 

        /* new styles */
        position: relative;
        overflow: hidden;
        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
        margin:7px;
    }

    .photo::before, .photo_link::before {
        content: "";
        transform: skewX(25deg);
        -ms-transform: skewX(25deg);
        -webkit-transform: skewX(25deg);
        background-size: 170px;
        background-repeat: no-repeat;
        background-position: top left;
        position: absolute;
        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
        width: 200%;
        height: 200%;
        margin-left: -110px;
    }    

        /*PORTFOLIO PAGE ONLY*/
        .photo_link::before{
            margin-left:-170px !important;
        }
/*PARALLELOGRAM NAV IMAGES ENDS*/

/*HOMEPAGE NAVIGATION LINK*/
.nav_link{
    background-color:black;
    color:white;
    margin-bottom:.5em;
    
    /*parallelogram*/
    width: 120px;
    height: 100px;
    margin: 5px 10px;
    -webkit-transform: skew(-25deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(20deg);
    background-image: url("");
    background-size:150px;
    color:white;  
}

.nav_text{
    padding-right:32px;
}

/*GRAYSCALE FILTER*/
    .main_photo{
        filter:grayscale(80%); 
    }

    .main_photo:hover{
        filter:grayscale(0%); 
    }

/*OVERLAY HOVER TEXT for PAGES/PROJECT LINK*/
#div1{
    position:absolute;
    background-color:white;
    width:20px;
    height:100px;
    opacity:.7;
}

.h3_title{
    padding:5px;
    opacity:0;
    font-size:25px;
    text-align:left;
    margin-top:-10px;
    margin-left:-7px;
    position:relative;
    font-family:serif;

}

.p_title{
    opacity: 0;
    float:right;
    font-size:10px;
}


/******************/
/*******PAGES******/
/******************/
#content_subject_container{
    background-color:gainsboro;
    padding:5px 0;
    width:100%;
    height:433px;
}

#subject_content{
    width:705px;
    float:right;
}

    #subject_link{
        /*background-color:pink;*/
        text-align: left;
    }

/*SUBJECT LINK SLIDESHOW - POPUP*/
    .photo_link{
        cursor:pointer;
        transform: skewX(-25deg);
        -ms-transform: skewX(-25deg);
        -webkit-transform: skewX(-25deg);
        width: 120px;
        height: 100px;
        border-left: 2px solid white;
        position: relative;
        overflow: hidden;
        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
        /* margin: 0 80px; */
    }

    .photo_link::before {
        content: "";
        transform: skewX(25deg);
        -ms-transform: skewX(25deg);
        -webkit-transform: skewX(25deg);
        background-size: 180px;
        background-repeat: no-repeat;
        background-position: top left;
        position: absolute;
        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
        width: 145%;
        height: 100%;
        margin-left: -110px !important;
        }

    /*Subject content pop-up*/
    .content_popup {
        background-color: rgb(245,245,220);
        position: absolute;
        margin-top: 0;
        margin-left: 0;
        width: 698px;
        padding: 0 2px;
        height: 433px;
    }
        
        .w3-section {
            padding: 50px;
            margin-left: 50px;
            display:block;
        }
        
        .w3-content{
            display:none;
        }
        
        
        .w3-display{
            background-color:rgb(205,92,92);
            display:block;
        }

        /*REMOVES BLUE OUTLINE ON BUTTON*/
       button:focus {outline:0;}

        .w3-center{
            background-color: beige;
            width:700px;
            height:433px;
        }
    
        .mySlides {
            display:none;
        }

        .w3-center{
            overflow:hidden;
            margin:0 auto;
        }

        button.demo, .w3-button {
            background-color: transparent;
            border: none;
            /* color: rgb(255,255,255); */
            width: auto;
            float: left;
            margin: 20px 15px;
        }
        
        button.demo:hover{
            /*background-color:rgba(201,171,126,.5);*/
            color:rgb(0,0,0);
        }

        button.w3-button.demo.thumbnails{
            width:150px;
            padding:2px;
            margin:5px;
        }


/*********************/
/*PAGE SIDEBAR & LINK*/
/*********************/
#subject_description{
    width: 200px;
    height: 350px !important;
    padding: 0 5px;
    background-color: black;
    color: white;
    margin: -5px 0 0 25px;
}

#subject_description img{
    width: 80%;
    height: 150px;
    margin-top: 20px;
    background-color: pink;
}

#subject_description h3{
    padding-bottom:50px;
}

#subject_description p{
    
}

#subject_content,#subject_description{
    height:100px;
    height:100%;
}

#page_nav_container{
    width:100%;
}

#page_nav ul li{
    display:inline-block;
    margin:.5em 2.85em;
}


/******************/
/******PROFILE*****/
/******************/
#profile_content{
    text-align:left;
    margin-top:50px;
    padding:10px;
}
/******************/
/********WEB*******/
/******************/
/*CUSTOMER LINK IMAGES*/
/*MOVE THIS CONTENT TO ITS CORRESPONDING PAGE*/
    .about_me::before {
        background-image: url(https://0.soompi.io/wp-content/uploads/2016/11/01062127/BTS-Jungkook.jpg);
    }

    .web_design::before {
        background-image: url(https://0.soompi.io/wp-content/uploads/2016/11/01062127/BTS-Jungkook.jpg);
    }
        
    .graphic_design::before {
        background-image: url(http://www.sbs.com.au/popasia/sites/sbs.com.au.popasia/files/bts-jimin-6.jpg);
    }
    
    .video_edit::before {
        background-image: url(https://0.soompi.io/wp-content/uploads/2016/11/01062127/BTS-Jungkook.jpg);
    }

    .photography::before {
        background-image: url(https://0.soompi.io/wp-content/uploads/2016/11/01062127/BTS-Jungkook.jpg);
    }
        
    .typography::before {
        background-image: url(http://www.sbs.com.au/popasia/sites/sbs.com.au.popasia/files/bts-jimin-6.jpg);
    }

/******************/
/******GRAPHIC*****/
/******************/

/******************/
/*******VIDEO******/
/******************/

/******************/
/*******PHOTO******/
/******************/

/******************/
/********TYPE******/
/******************/


/******************/
/******FOOTER******/
/******************/
footer{
    width:98%;
    margin:5.5em auto 0 auto;
    padding:5px;
    text-align:center;
    font-size:10px;
    background-color:grey;
}
